<h3>Total Items:{{products.length}}</h3>

<style>
  .count{ display: flex; gap: 5px; }
</style>

<form style="padding:16px" action="/orders/create" method="post">

  <div class="form-group">

    <input
      placeholder="Enter Address"
      id="address"
      type="text"
      class="form-control-file"
      name="address"
    />
    <button style="margin: 15px 0;" type="submit" class="btn btn-success">Place
      Order</button>
  </div>
</form>
{{#each products}}

  <div class="col item-container">
    <div class="card">
      <img src="{{imagePath}}" alt="..." class="w-100" />
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{description}}</p>
        <div class="price-play"><p class="price">Rs.{{price}}</p>
          <div class="count">
            <form action="/cart/updateQuantity" method="get">
              <input type="hidden" name="type" id="" value="increase" />
              <input type="hidden" value="{{productId}}" name="productId" />
              <input
                type="hidden"
                value="{{quantity}}"
                name="quantity"
              /><button
                type="submit"
                id="add"
                class="btn btn-success"
              >+</button></form>
            <h4>{{quantity}}</h4>
            <form action="/cart/updateQuantity" method="get">
              <input type="hidden" name="type" id="" value="decrease" />
              <input type="hidden" value="{{productId}}" name="productId" />
              <input
                type="hidden"
                value="{{quantity}}"
                name="quantity"
              /><button
                type="submit"
                id="remove"
                class="btn btn-danger"
              >-</button></form>
          </div>
          <form method="get" action="/cart/removeItem">
            <input type="hidden" value="{{productId}}" name="productId" />
            <input type="hidden" value="{{title}}" name="productName" />
            <button type="submit" class="btn btn-danger">Remove</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{{/each}}